.sideBar{
    display: flex;
    flex-direction: column;
    width: 30%;
    //max-width:  415px;
}
.sideBarHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-right: 1px solid lightgray;
    .sideBarAvatar{
        cursor: pointer;
    }
}
.sideBarHeaderRight .MuiSvgIcon-root {
        margin-right: 0rem;
        font-size: 24px !important;
}

.sideBarHeaderRight{   
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    min-width: 10vw;
}

.sideBarHeaderRight{
    .MuiSvgIcon-root{
        margin-right: 2vw;
        font-size: 24px !important;
    }
}

.sideBarSearch{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sideBarSearchContainer{  
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sideBarSearchContainer{
    .Icon{
        color: gray;
        padding: 10px;
    }
    input{
        flex: 1;
        border: none;
        margin-left: 10px;
        outline-width: 0;
    }
}

.sideBarChatsList{
    flex: 1;
    background-color: #fff;
    overflow: scroll;
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(0,0,0,0.2);
    }
}
