.login{
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loginContainer{
    padding: 100px;
    height: 10vw;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    img{
        //margin-top: 0.5rem;
        object-fit: contain;
        height: 100px;
        //margin-bottom: 40px;
    }
    button{
        margin-top: 1.8rem;
        text-transform: inherit !important;
        background-color: #0a8d48 !important;
        color: #fff;
    }
    input{
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 0.6rem;
        outline: none;
    }
}